<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>mbti 등록</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/mbti/view.css}">


</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<div class="wrap">
  <div class="boardArea">

    <div class="viewArea">
      <table>
        <tbody>
        <tr>
          <th>MBTI</th>
          <td th:text="${info.name()}">
          </td>
          <th>MBTI 설정</th>
          <td th:text="${info.description()}">
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="buttonArea">
    <div class="listBtn Btn"><a th:href="@{/mbti/list}">목록</a></div>
    <div class="updateBtn Btn"><a th:href="@{/mbti/update/{mbtiId}(mbtiId = ${info.mbtiId()})}" th:text="수정"></a></div>
    <div class="deleteBtn Btn"><a th:href="@{/mbti/delete/{mbtiId}(mbtiId = ${info.mbtiId()})}" th:text="삭제"></a></div>
  </div>
</div>
<th:block th:replace="/include/header.html :: footerFragment"></th:block>
</body>
</html>
