<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>모임 신청</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script th:src="@{/js/meeting/write.js}"></script>
  <link rel="stylesheet" th:href="@{/css/meeting/write.css}">
  <script th:src="@{/js/meeting/meetAppli.js}"></script>


</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>

<form action="/meeting/meetAppli" method="post" id="frm">
  <input type="hidden" name="memberId" th:value="${session.member.getMemberId()}">
  <input type="hidden" name="meetingId" th:value="${meeting.meetingId()}">
  <div class="wrap">
    <div class="boardArea">
      <div class="viewArea">
        <table>
          <tbody>
          <tr>
            <th th:text="${meeting.question()}"></th>
            <td><textarea name="companionReason"  cols="30" rows="10"></textarea></td>
          </tr>
          <tr>
            <th>자기소개</th>
            <td><textarea name="aboutMe"  cols="30" rows="10"></textarea></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="buttonArea">
<!--      <div class="listBtn Btn"><a th:href="@{/meeting/list}" style="color: white;">목록</a></div>-->
      <div class="updateBtn Btn">신청하기</div>
    </div>
  </div>
</form>

<th:block th:replace="/include/header.html :: footerFragment"></th:block>
</body>
</html>
