<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>meeting 등록</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" th:href="@{/css/meeting/view.css}">
  <script th:src="@{/js/meeting/view.js}"></script>
</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<div class="wrap">
  <div class="boardArea">
    <div class="viewArea">
      <table>
        <tbody>
        <tr>
          <th>모임명</th>
          <td th:text="${info.name()}"></td>
        </tr>
        <tr>
          <th>모임설명</th>
          <td th:text="${info.content()}"></td>
        </tr>
        <tr>
          <th>규칙</th>
          <td th:text="${info.rule()}"></td>
        </tr>
        <tr>
          <th>지역</th>
          <td th:text="${info.location()}"></td>
        </tr>
        <tr>
          <th>방장</th>
          <td th:text="${ownerInfo.nickname()}"></td>
        </tr>
        <tr>
          <th>방장</th>
          <td th:text="${ownerInfo.nickname()}"></td>
        </tr>
        <th:block th:if="${not #strings.isEmpty(acceptDTO)}">
          <tr>
            <th>신청 현황</th>
            <td th:switch="${acceptDTO.status.name()}" class="meetingCancelArea">
              <span th:case="'APPLY'">신청중</span>
              <span th:case="'GRANT'">승인</span>
              <span th:case="'COMP'">반려</span>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </div>
  </div>
  <div class="buttonArea">
    <div class="listBtn Btn"><a th:href="@{/meeting/list}">목록</a></div>
    <div class="updateBtn Btn" th:if="${not #strings.isEmpty(ownerDTO)}"><a
            th:href="@{/meeting/update/{meetingId}(meetingId = ${info.meetingId()})}" th:text="수정"></a></div>
    <th:block th:if="${#strings.isEmpty(acceptDTO)}">
      <div class="updateBtn Btn" th:onclick="meetAppli([[${info.meetingId}]])" th:text="모임신청"
           th:if="${#strings.isEmpty(ownerDTO)}"></div>
    </th:block>
    <th:block
            th:if="${not #strings.isEmpty(acceptDTO)} and ${acceptDTO.status() != null and acceptDTO.status.name() == 'GRANT'}">
      <div class="updateBtn Btn" th:onclick="meetingBoard([[${info.category().categoryId()}]],[[${info.meetingId()}]])"
           th:text="커뮤니티" th:if="${#strings.isEmpty(ownerDTO)}"></div>
      <div class="updateBtn Btn meetingCancel" th:text="탈퇴하기"
           th:onclick="acceptDelete([[${acceptDTO.acceptId()}]])"></div>
    </th:block>

    <div class="updateBtn Btn" th:onclick="meetAppliList([[${info.meetingId}]])" th:text="멤버관리"
         th:if="${not #strings.isEmpty(ownerDTO)}"></div>
    <!--    <div class="deleteBtn Btn"><a th:href="@{/meeting/delete/{meetingId}(meetingId = ${info.meetingId()})}" th:text="삭제"></a></div>-->
  </div>
</div>
<th:block th:replace="/include/header.html :: footerFragment"></th:block>
</body>
</html>
