<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>모임 등록</title>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script th:src="@{/js/meeting/write.js}"></script>
    <link rel="stylesheet" th:href="@{/css/meeting/write.css}">


</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>

<form action="/meeting/save" method="post" id="frm">
  <input type="text" name="memberId" th:value="${session.member.getMemberId()}">
  <div class="wrap">
    <div class="boardArea">
      <div class="viewArea">
        <table>
          <tbody>
          <tr>
            <th>모임명</th>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <th>규칙</th>
            <td><input type="text" name="rule"></td>
          </tr>
          <tr>
            <th>지역</th>
            <td><input type="text" name="location"></td>
          </tr>
          <tr>
            <th>질문</th>
            <td><input type="text" name="question"></td>
          </tr>
          <tr>
            <th>모임 설명</th>
            <td>
              <textarea name="content"></textarea>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="buttonArea">
      <div class="listBtn Btn"><a th:href="@{/meeting/list}" style="color: white;">목록</a></div>
      <div class="updateBtn Btn">작성</div>
    </div>
  </div>
</form>

<th:block th:replace="/include/header.html :: footerFragment"></th:block>
</body>
</html>
