<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/board/list.css}">
    <script th:inline="javascript" th:src="@{/js/board/list.js}"></script>


</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<form action="" method="get">
    <input type="hidden" name="categoryId" th:value="${param.categoryId}">

    <div class="wrap">
        <div class="searchArea">
            <div class="searchAreaChild">
                <input name="name" placeholder="이름을 입력해주세요." th:value="${param.name}" type="text">
                <button type="submit">search</button>
            </div>
        </div>
        <div class="boardArea">
            <div class="listArea">
                <table>
                    <thead>
                    <tr>
                        <th class="num">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성일</th>
                        <th class="writer">작성자</th>
                        <th class="writer">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="list : ${list}">
                        <tr>
                            <td th:text="${list.boardId()}"></td>
                            <td>
                                <a style="color: #ffffff"
                                   th:href="@{/board/find/{boardId}( boardId = ${list.boardId()})}" th:text="${list.title()}"></a>
                            </td>
                            <td th:text="${list.inputDt()}"></td>
                            <td th:text="${list.member().nickname()}"></td>
                            <td th:text="${list.views()}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttonArea">
            <div class="updateBtn Btn" th:onclick="boardSaveFrom([[${param.categoryId}]])">작성</div>
        </div>

        <div class="pageArea" th:with="start=${(list.number/maxPage)*maxPage+1},
        end=(${(list.totalPages == 0) ? 1 : (start + (maxPage - 1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})">
            <div class="pageNumWrap">
                <div class="pageNum" th:if="${start > 1}">
                    <a aria-label="Previous" class="page-link" href="#" th:href="@{?(page=0, name=${name})}">
                        <span>&laquo;&laquo;</span>
                    </a>
                </div>
                <div class="pageNum" th:if="${start > 1}">
                    <a th:href="@{?(page=${start - maxPage-1},name=${name})}">
                        <span>&laquo;</span>
                    </a>
                </div>
                <div class="pageNum" th:classappend="${list.number+1 == page} ? active"
                     th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:href="@{?(page=${page-1},name=${name})}" th:text="${page}"></a>
                </div>
                <div class="pageNum" th:if="${end < list.totalPages}">
                    <a th:href="@{?(page=${start + maxPage -1},name=${name})}">
                        <span>&raquo;</span>
                    </a>
                </div>
                <div class="pageNum" th:if="${end < list.totalPages}">
                    <a th:href="@{?(page=${list.totalPages-1},name=${name})}">
                        <span>&raquo;&raquo;</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</form>

<th:block th:replace="/include/header.html :: footerFragment"></th:block>
</body>
</html>
