<!DOCTYPE html>
<html lang="ko"
      xmlns:th ="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
  <body>
  <th:block th:fragment="headerFragment">
    <header>
      <link rel="stylesheet" th:href="@{/css/include/header.css}">
      <script th:src="@{/js/include/header.js}"></script>
      <p class="hTitle">혼자는 싫어</p>
      <div class="loginArea">
        <th:block th:if="${not #strings.isEmpty(session.member)}">
          <p class="myMbti" onclick="myMbti()"> 나의 MBTI</p>
          <p class="nickName" onclick="myInfo()" th:text="${session.member.getName() + '님'}"></p>
          <p class="logout"><a href="/member/logout">로그아웃</a></p>

        </th:block>
        <th:block th:if="${ #strings.isEmpty(session.member)}">
          <p class="myMbti" onclick="register()"> 회원가입</p>
          <p class="login"><a href="/member/login">로그인</a></p>
        </th:block>
      </div>


    </header>
    <nav>

      <div>
        <p class="menu">게시판</p>
        <ul class="sub">
          <li><a href="#">공지사항</a></li>
          <li><a href="#">Q&A</a></li>
          <li><a href="#">자유 게시판</a></li>
        </ul>
      </div>
      <div>
        <p class="menu">모임</p>
        <ul class="sub">
          <li th:if="${not #strings.isEmpty(session.member)}"><a href="#">모임등록</a></li>
          <li><a href="#">모임 리스트</a></li>
          <li><a href="#">모임 커뮤니티</a></li>
        </ul>
      </div>
      <div th:if="${not #strings.isEmpty(session.member)}">
        <p class="menu">마이페이지</p>
        <ul class="sub">
          <li><a href="/member/update">회원정보 수정</a></li>
          <li><a href="/mbti/mbtiCheckForm">MBTI 등록</a></li>
          <li><a href="/member/myMbti">나의 MBTI</a></li>
        </ul>
      </div>
    </nav>
  </th:block>

    <th:block th:fragment="footerFragment">
      <footer>
        <nav>
          <a href='https://velog.io/@dlehddud60/posts' target='_blank'>Blog</a> |
          <a href='https://github.com/dlehddud60' target='_blank'>Github</a>
        </nav>
        <p>
          <span>저자 : 이동영</span><br/>
          <span>이메일 : dlehddud60@naver.com</span><br/>
          <span>Copyright 2024. cocoder. All Rights Reserved.</span>
        </p>
      </footer>
    </th:block>
  </body>
</html>
