<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
    <script th:src="@{/js/member/login.js}"></script>
</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<form th:action="@{/member/login}" method="post"  id="frm">
    <div class="wrap">
        <span class="title">Log-in</span>
        <div class="formArea">
            <div class="viewArea">
                <p>아이디</p>
                <input type="text" name="id">

                <p>비밀번호</p>
                <input type="password" name="password">
                <div class="updateBtn Btn">로그인</div>
            </div>
        </div>
    </div>
<!--    <div class="wrap">-->
<!--        <div class="formArea">-->
<!--            <div class="viewArea">-->
<!--                <table>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <th>아이디</th>-->
<!--                        <td>-->
<!--                            <input type="text" name="id">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>비밀번호</th>-->
<!--                        <td colspan="3">-->
<!--                            <input type="password" name="password">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="buttonArea">-->
<!--            <div class="updateBtn Btn">로그인</div>-->
<!--        </div>-->
<!--    </div>-->
</form>
<th:block th:replace="/include/header.html :: footerFragment"></th:block>

</body>
</html>