<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script th:src="@{/js/member/register.js}"></script>
    <link rel="stylesheet" th:href="@{/css/member/register.css}">
</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<form th:action="@{/member/save}" method="post"  id="frm">
    <div class="wrap">
        <span class="title">Sing-in</span>
        <div class="formArea">
            <div class="viewArea">


                <p>아이디</p>
                <input type="text" name="id">

                <p>비밀번호</p>
                <input type="password" name="password">

                <p>이름</p>
                <input type="text" name="nickName">

                <p>닉네임</p>
                <input type="text" name="nickname">

                <p>E-Mail</p>
                <input type="email" name="email">

                <p>핸드폰</p>
                <input type="text" name="mobile" >

                <p>성별</p>
                <div class="select">
                    <input type="radio" id="select" name="gender" value="남자"><label for="select">남자</label>
                    <input type="radio" id="select2" name="gender" value="여자"><label for="select2">여자</label>
                </div>

                <p>나이</p>
                <input type="number" name="age">

                <p>생년</p>
                <input type="number" name="birthyear">

                <p>월일</p>
                <input type="number" name="birthday">

                <div class="updateBtn Btn">회원가입</div>

            </div>

        </div>
    </div>
</form>
<th:block th:replace="/include/header.html :: footerFragment"></th:block>


</body>
</html>