<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script th:src="@{/js/member/register.js}"></script>
    <link rel="stylesheet" th:href="@{/css/member/register.css}">
</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<form th:action="@{/member/save}" th:object="${memberDTO}" method="post" id="frm">
    <div class="wrap">
        <span class="title">Sing-in</span>
        <div class="formArea">
            <div class="viewArea">


                <p>아이디</p>
                <input type="text" name="id" th:field="*{id}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{id}">
                    아이디 오류
                </div>

                <p>비밀번호</p>
                <input type="password" name="password" th:field="*{password}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{password}">
                   비밀번호 오류
                </div>

                <p>이름</p>
                <input type="text" name="name" th:field="*{name}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{name}">
                    이름 오류
                </div>

                <p>닉네임</p>
                <input type="text" name="nickname" th:field="*{nickname}" th:errorclass="field-error">

                <p>E-Mail</p>
                <div class="emailArea">
                <input type="email" name="email" th:field="*{email}" th:errorclass="field-error" style="width: 25vw">
                    <div class="emailBtn Btn" onclick="emailFunc()" style="width: 10vw; height: 5vh; line-height: 5vh; margin-left: 3%">이메일 인증</div>
                </div>
                <div class="emailConfirmArea" style="display: none;">
                    <input type='text' name='emailCode' style='width: 25vw' placeholder='인증번호를 입력해주시길 바랍니다.'>
                    <div class='emailBtn Btn' onclick='emailConfirmFunc()' style='width: 10vw; height: 5vh; line-height: 5vh; margin-left: 3%'>인증</div>
                </div>

                <div class="email-info"></div>
                <div class="field-error" th:errors="*{email}">
                    이메일 오류
                </div>

                <p>핸드폰</p>
                <input type="text" name="mobile" th:field="*{mobile}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{mobile}">
                    핸드폰 오류
                </div>

                <p>성별</p>
                <div class="select">
                    <input type="radio" id="select" name="gender" value="남자"  th:field="*{gender}" th:errorclass="field-error"><label for="select">남자</label>
                    <input type="radio" id="select2" name="gender" value="여자"  th:field="*{gender}" th:errorclass="field-error"><label for="select2">여자</label>
                </div>
                <div class="field-error" th:errors="*{gender}">
                    성별 오류
                </div>

                <p>나이</p>
                <input type="number" name="age" th:field="*{age}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{age}">
                    나이 오류
                </div>

                <p>생년</p>
                <input type="number" name="birthyear" th:field="*{birthyear}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{age}">
                    생년 오류
                </div>

                <p>월일</p>
                <input type="number" name="birthday" th:field="*{birthday}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{birthday}">
                    월일 오류
                </div>


                <div class="updateBtn Btn" style="display: none">회원가입</div>
                <div class="errorBtn Btn"  onclick="emailCompleteFunc();">회원가입</div>
                <div class="field-error emailComplete"></div>
            </div>

        </div>
    </div>
</form>
<th:block th:replace="/include/header.html :: footerFragment"></th:block>


</body>
</html>