<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예제</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/member/update.css}">
    <script th:src="@{/js/member/update.js}"></script>


</head>
<body>
<th:block th:replace="~{/include/header.html :: headerFragment}"></th:block>
<form action="/member/update" id="frm" method="post" th:object="${memberDTO}" >
    <input name="id" th:value="${memberDTO.id()}" type="hidden">

    <div class="wrap">
        <span class="title">Edit-Info</span>
        <div class="formArea">
            <div class="viewArea">

                <p>아이디</p>
                <input disabled th:value="${memberDTO.id()}" type="text">

                <p>이름</p>
                <input name="name" th:errorclass="field-error" th:field="*{name}" th:value="${memberDTO.name()}"
                       type="text">
                <div class="field-error" th:errors="*{name}">
                    이름 오류
                </div>

                <p>닉네임</p>
                <input name="nickname" th:errorclass="field-error" th:field="*{nickname}" th:value="${memberDTO.nickname()}"
                       type="text">
                <div class="field-error" th:errors="*{nickname}">
                    닉네임 오류
                </div>

                <p>E-Mail</p>
                <input name="email" th:errorclass="field-error" th:field="*{email}" th:value="${memberDTO.email()}"
                       type="email">
                <div class="field-error" th:errors="*{email}">
                    E-Mail 오류
                </div>

                <p>핸드폰</p>
                <input name="mobile" th:errorclass="field-error" th:field="*{mobile}" th:value="${memberDTO.mobile()}"
                       type="text">
                <div class="field-error" th:errors="*{mobile}">
                    핸드폰 오류
                </div>

                <p>성별</p>
                <div class="select">
                    <input id="select" name="gender" th:checked="${memberDTO.gender() eq '남자'}" th:errorclass="field-error" th:field="*{gender}"
                           type="radio" value="남자"><label for="select">남자</label>
                    <input id="select2" name="gender" th:checked="${memberDTO.gender() eq '여자'}" th:errorclass="field-error"
                           th:field="*{gender}" type="radio" value="여자"><label
                        for="select2">여자</label>
                </div>
                <div class="field-error" th:errors="*{gender}">
                    성별 오류
                </div>

                <p>나이</p>
                <input name="age" th:errorclass="field-error" th:field="*{age}" th:value="${memberDTO.age()}"
                       type="number">
                <div class="field-error" th:errors="*{age}">
                    나이 오류
                </div>

                <p>생년</p>
                <input name="birthyear" th:errorclass="field-error" th:field="*{birthyear}" th:value="${memberDTO.birthyear()}"
                       type="number">
                <div class="field-error" th:errors="*{birthyear}">
                    생년 오류
                </div>

                <p>월일</p>
                <input name="birthday" th:errorclass="field-error" th:field="*{birthday}" th:value="${memberDTO.birthday()}"
                       type="number">
                <div class="field-error" th:errors="*{birthday}">
                    월일 오류
                </div>

                <p>사용자 MBTI</p>
                <th:block th:if="${not #strings.isEmpty(mbtiInfo)}">

                <select name="mbtiName">-->
                    <option value="">--선택--</option>
                    <th:block th:each="list : ${mbtiList}">-->
                        <option th:selected="${list.mbtiId()} == ${mbtiInfo.mbtiId()}" th:text="${list.name}"
                                th:value="${list.name()}"></option>
                    </th:block>
                </select>
                </th:block>
                <th:block th:if="${not #strings.isEmpty(mbtiInfo1)}">
                    <select name="mbtiName">&ndash;&gt;-->
                        <option value="">--선택--</option>
                        <th:block th:each="list : ${mbtiList1}">-->
                            <option th:selected="${list.mbtiId()} == ${mbtiInfo1}" th:text="${list.name}" th:value="${list.name()}"></option>
                        </th:block>
                    </select>

                </th:block>
                <div class="updateBtn Btn">수정</div>
                <div class="mbtiBtn Btn" onclick="mbtiLink()">MBTI 검사</div>
            </div>

        </div>
    </div>
</form>
<th:block th:replace="/include/header.html :: footerFragment"></th:block>
</body>
</html>
