@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'WAGURITTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MoiraiOne-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/MoiraiOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Giants-Inline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
  text-decoration: none;
  text-indent: 0;
  list-style: none;
  margin: 0;
}
a {
  color: white;
}

header {
  height: 10vh;
  background: #6c6c6c;
  display: flex;
  justify-content: space-between;
}

header .hTitle {
  display: inline;
  margin-left: 10px;
  color: white;
  line-height: 10vh;
  font-family: Giants-Inline;
  font-size: 2vw;
}

header .hImg {
  display: inline;
  text-align: left;
}

header .loginArea {
  /*border: 1px solid black;*/
  display: flex;
  margin-right: 10px;

}
header .nickName {
  cursor: pointer;
}
header .nickName, header .logout , header .login{
  font-family: TTLaundryGothicB;
  color: white;
  margin-right: 20px;
  display: flex; /* Flexbox for centering text */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}
header .logout  a, header .login a{
  font-family: TTLaundryGothicB;
  color: white;
  cursor: pointer;

}



header  .progileImg {
  margin: auto;
  width: 3vw; height: 7vh;
  border-radius: 20px;
}
header .progileText {
  font-family: SUITE-Regular;
  margin-left: 10px;
  color: white;
  line-height: 80px;
  font-size: 1vw;
}
nav {
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  z-index: 10;
}

nav div {
  width: 12vw; height: 6vh;
  overflow: hidden;
  transition: all 0.5s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
nav div p {
  background: #b9b9b9;
  font-family: SUITE-Regular;
  color: white;
  text-align: center;
  line-height: 6vh;
}
nav div ul {
  font-family: SUITE-Regular;
  margin: 0; padding: 0;
  background: #696969;
  text-align: center;
  opacity: 80%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
nav div:hover {
  height: 180px;
}
nav div:nth-child(1):hover{
  height: 180px;
}
nav div:nth-child(2):hover{
  height: 230px;
}
nav div:nth-child(3):hover{
  height: 180px;
}

nav div:nth-child(4):hover{
  height: 230px;
}
nav div .sub li{
  width: 80%; height: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  z-index: 5;
}

nav div .sub li:hover {
  background: #868686;
}


footer {
  width: 100%;
  height: 15vh;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  color: white;
  font-size: 1rem;
  background: #6c6c6c;
  font-family: SUITE-Regular;

}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: white;   font-size: 1rem;

}

footer a:visited {
  color: white;
}

footer p {
  margin-top: 0; margin-bottom: 0;
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}