@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


*{
    text-decoration: none;
    list-style: none;
}

p {
    margin-bottom: 1.5%;
    font-size: 1.2rem;
    font-family: SUITE-Regular, serif;
    color: #7c7c7c;
}
.formArea {
    height: 50vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.viewArea {
    padding-left: 5%;
    height:60%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 요소들을 왼쪽 정렬 */
    border-radius: 10px;

}

.title {
    font-family: Freesentation-9Black;
    font-size: 2.5rem;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail {
    height: 30vh;
}
input {
    height: 4vh; width: 35vw;
    font-family: SUITE-Regular, serif;
    font-size: 1rem;
    margin-bottom: 3%;
}

.Btn {
    margin-top: 3%;
    border-radius: 7px;
    text-align: center;
    line-height: 6vh;
    width: 35.5vw; height: 6vh;
    color: white;
    font-size: 1.4rem;
    font-family: SUITE-Regular;
    cursor: pointer;
}

.updateBtn {
    background: #a2a2a2;
    transition: all 0.5s;
}
.updateBtn:hover {
    background: #8f8f8f;
}
