@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

*{
    text-decoration: none;
    list-style: none;
}

p {
    margin-bottom: 1.5%;
    font-size: 1.2rem;
    font-family: SUITE-Regular, serif;
    color: #7c7c7c;
}
.formArea {
    height: 130vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;

}

.title {
    font-family: Freesentation-9Black;
    font-size: 2.5rem;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewArea {
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 5%;
    height:100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 요소들을 왼쪽 정렬 */
    border-radius: 10px;

}


.detail {
    height: 30vh;
}


.Btn {
    margin-top: 3%;
    border-radius: 7px;
    text-align: center;
    line-height: 6vh;
    width: 35.5vw; height: 6vh;
    color: white;
    font-size: 1.2rem;
    font-family: SUITE-Regular;
    cursor: pointer;
}

.updateBtn, .mbtiBtn {
    background: #a2a2a2;
    transition: all 0.5s;
}
.updateBtn:hover {
    background: #737373;
}
.mbtiBtn:hover {
    background: #737373;
}
input {
    height: 4vh; width: 35vw;
    font-family: SUITE-Regular, serif;
    font-size: 1rem;
}
select[name='mbtiName'] {
    height: 5vh; width: 35.5vw;
    font-family: SUITE-Regular, serif;
    font-size: 1rem;
}


.select {
    margin-bottom: 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 5vh;
    width: 10vw;
    border: 1px solid #333;
    line-height: 5vh;
    text-align: center;
    font-weight:bold;
    font-size:1.2rem;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
    margin-bottom: 3%;
}